# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- Poupoular Languages for Data Science
- Coummun librairies for Data Science
- Data Science Tools
- Arithmetic expressions

##### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala

##### Some of the communly used librairies used by Data Scientists include: 
1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools |
|--------------------|
| JupyterLab |
| Rstudio |
| Apache Sparks |

### Below are a few examples of evaluating arithmetics expressions in Python

In [13]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [14]:
# This will convert 200 minutes to hour by dividing by 60
200/60

3.3333333333333335

## Author 
Amirhossein Asadmanesh